<!DOCTYPE>
<html lang="en">
<head>
    <meta http-equiv='Content-Type' content='text/html;charset=UTF-8'>
    <link rel='stylesheet' href='<%= sails.config.cdn_host %>/styles/upgrade/upgrade.css'>
</head>
<body>
<div id="main">
    <div class="content">
        <div class="title_area">
            <p class="up_title">您目前使用的浏览器该进博物馆啦～</p>
            <p class="down_title">为了更佳的浏览体验，请使用现代浏览器访问本站</p>
        </div>
        <div class="browser_area">
            <div class="item chrome">
                <div class="up loaded">
                    <span class="browser_ico"></span>
                    <p class="browser_name">Chrome</p>
                    <p class="version">版本 47</p>
                    <a href="http://www.google.cn/intl/zh-CN/chrome/browser/desktop/index.html#eula"><span class="download_btn"></span></a>
                </div>
                <div class="down loaded">
                    <p class="instru">支持以下操作系统</p>
                    <span class="windows"></span>
                    <span class="mac"></span>
                    <span class="linux"></span>
                    <div class="separator"></div>
                    <p class="tip">用户使用此浏览器占总数百分比</p>
                    <p class="percent">23.54％</p>
                </div>
            </div>
            <div class="item firefox">
                <div class="up loaded">
                    <span class="browser_ico"></span>
                    <p class="browser_name">Firefox</p>
                    <p class="version">版本 43</p>
                    <a href="http://www.firefox.com.cn/download/#more"><span class="download_btn"></span></a>
                </div>
                <div class="down loaded">
                    <p class="instru">支持以下操作系统</p>
                    <span class="windows"></span>
                    <span class="mac"></span>
                    <span class="linux"></span>
                    <div class="separator"></div>
                    <p class="tip">用户使用此浏览器占总数百分比</p>
                    <p class="percent">11.9％</p>
                </div>
            </div>
            <div class="item ie">
                <div class="up loaded">
                    <span class="browser_ico"></span>
                    <p class="browser_name">Internet<br/>Explorer</p>
                    <p class="version">版本 11</p>
                    <a href="http://windows.microsoft.com/zh-cn/internet-explorer/download-ie"><span class="download_btn"></span></a>
                </div>
                <div class="down loaded">
                    <p class="instru">支持以下操作系统</p>
                    <span class="windows"></span>
                    <div class="separator"></div>
                    <p class="tip">用户使用此浏览器占总数百分比</p>
                    <p class="percent">58.18％</p>
                </div>
            </div>
            <div class="item safari">
                <div class="up loaded">
                    <span class="browser_ico"></span>
                    <p class="browser_name">Safari</p>
                    <p class="version">版本 8</p>
                    <a href="http://www.apple.com/cn/safari/"><span class="download_btn"></span></a>
                </div>
                <div class="down loaded">
                    <p class="instru">支持以下操作系统</p>
                    <span class="windows"></span>
                    <span class="mac"></span>
                    <div class="separator"></div>
                    <p class="tip">用户使用此浏览器占总数百分比</p>
                    <p class="percent">5.03％</p>
                </div>
            </div>
            <div class="item opera">
                <div class="up loaded">
                    <span class="browser_ico"></span>
                    <p class="browser_name">Opera</p>
                    <p class="version">版本 26</p>
                    <a href="http://www.opera.com/zh-cn/computer/windows"><span class="download_btn"></span></a>
                </div>
                <div class="down loaded">
                    <p class="instru">支持以下操作系统</p>
                    <span class="windows"></span>
                    <span class="mac"></span>
                    <span class="linux"></span>
                    <div class="separator"></div>
                    <p class="tip">用户使用此浏览器占总数百分比</p>
                    <p class="percent">0.96％</p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>