@import "Custom";

#RrightContent {
  #ClassContent {
    .title {
      margin: 10px 10px;
      font-size: 24px;
      color: #555555;
      font-weight: normal;
      font-family: 'MicrosoftYaHei', 微软雅黑;
      margin-bottom: 40px;
    }
    .content {
      margin-bottom: 24px;
      margin-left: 10px;
    }
    .contentBtn {
      margin-left: 10px;
      margin-bottom: 40px;
    }
    hr {
      margin-left: 10px;
      border: none;
      border-bottom: 1px dashed #ccc;
    }
    .picBon {
      padding-bottom: 310px;
      .floatLeft {
        float: left;
        img {
          float: left;
          margin-top: 40px;
          margin-left: 40px;
          display: block;
        }
        .size_L {
          float: left;
          height: 55px;
          width: 99px;
          margin-left: 30px;
          margin-top: 100px;
        }
      }
      .floatRight {
        margin-left: 200px;
        float: left;
        img {
          float: left;
          margin-top: 40px;
          display: block;
        }
        .size_R {
          float: left;
          height: 55px;
          width: 99px;
          margin-left: 30px;
          margin-top: 100px;
        }
      }
    }
  }
}