@import '../sass-statement';
body{
  background-color: $body_c;
  .content{
    width: $content_width_1;
  }
  #topnav{
    background-color: $body_c;
    border-bottom: 1px solid $border_d;
    ul{
      background-color: #eee;
      height: 100%;
      @extend .clearfix;
      #username a{
        span{
          width: 200px;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          text-align: right;
        }
      }

      li{
        &.bdn{
          &.last{
            margin-right: 0px;
            a{
              color: $main_color;
            }
          }
        }
      }
    }
  }
  #mainhead{
    background-color: $border_e;
    margin-bottom: 10px;
    .content{
      width: 970px;
      background: #e5e5e5;
    }
    .logo{
      margin-top: 40px;
    }
    .process{
      width: 426px;
      height: 40px;
      float: right;
      margin-top: 49px;
      margin-right: 0;
      position: relative;
      .line{
        position: absolute;
        width: 160px;
        height: 1px;
        background-color: #cccccc;
        top: 8px;
        &.line_1{
          left: 46px;
          background-color: #BB1E7B;
        }
        &.line_2{
          left: 223px;
          background-color: #BB1E7B;
        }
      }
      .item{
        display: inline-block;
        text-align: center;
        float: left;
        &.confirm_trade{
          margin-left: 109px;
        }
        &.pay_mode{
          margin-left: 115px;
        }
        .around{
          width: 17px;
          height: 14px;
          padding-top: 3px;
          background-color: $font_color_3;
          border-radius: 17px;
          font-size: 13px;
          display: inline-block;
          margin-bottom: 8px;
          color: $color_2;
        }
        .text{
          font-size: 15px;
          color: $font_color_3;
        }
        &.active{
          .around{
            background-color: #BB1E7B;
          }
          .text{
            color: #BB1E7B;
          }
        }
      }
    }
  }
  .title{
    width: 100%;
    height: 14px;
    background-color: $color_1;
    padding: 13px 0;
    font-size: 13px;
    color: $color_2;
    margin-bottom: 10px;
    p{
      text-align: center;
      float: left;
    }
    .products{
      width: 435px;
      height: 100%;
    }
    .price{
      width: 67px;
      height: 100%;
    }
    .count{
      width: 226px;
      height: 100%;
    }
    .sum{
      width: 68px;
      height: 100%;
    }
    .operate{
      width: 175px;
      height: 100%;
    }
  }
  .cart_item{
    width: 100%;
    background-color: $color_2;
    font-size: 13px;
    margin-bottom: 10px;
    position: relative;
    .item_top{
      width: 100%;
      height: 19px;
      border-bottom: 1px solid $border_d;
      background-color: $color_5;
      padding: 10px 0;
      .origin{
        float: left;
        padding: 1px;
        margin-left: 20px;
        border-radius: 2px;
        .icon{
          float: left;
          padding: 2px;
          background-color: $color_2;
          height: 13px;
        }
        .text{
          float: left;
          padding: 2px 3px 2px 5px;
          color: $color_2;
        }
      }
      .freight{
        padding: 2px 6px;
        float: left;
        margin-left: 15px;
        margin-top: 1px;
        color: $color_2;
        display: none;
      }
      .tip{
        float: left;
        display: none;
        margin-left: 6px;
        margin-top: 3px;
      }
    }
    .item{
      width: 100%;
      height: 120px;
      .select{
        float: left;
        width: 45px;
        height: 100%;
        .check_box{
          border: 1px solid $color_8;
          width: 8px;
          height: 7px;
          float: left;
          margin-top: 58px;
          margin-left: 17px;
          padding: 2px 1px 1px 1px;
          cursor: pointer;
          &.active{
            p{
              @include u_image('~@/assets/images/cart/check_box.png', 7, 6);
            }
          }
        }
      }
    }
  }
}
.main{
  .content{
    position:relative;
    width:970px;
    background:#fff;
    margin: 10px auto;
    span{
      vertical-align: bottom;
    }
    .title_header{
      position:relative;
      padding-top: 30px;
      margin: 0 40px;
      height:75px;
      background:#fff;
      font-size:18px;
      color: #111;
      .confirm_icon{
        position:relative;
        width:20px;
        height:20px;
        vertical-align:middle;
        margin-top:0px;
        margin-right: 8px;
        background-image: url(~@/assets/images/orderdetail/state_selected.png);
        display:inline-block;
        background-size: 20px 20px;
      }
      .fill_value{
        color:#BB1E7B;
      }
      .remark{
        color:#aaaaaa;
        font-size:13px;
      }
      .order_info{
        position: relative;
        margin-top: 10px;
        margin-left:28px;
        .money_value{
          color:#BB1E7B;
          font-size:18px;
          font-weight:bolder;
          font-family:Arial;
        }
      }
    }
    .title_label{
      position:relative;
      margin:0 40px;
      padding-top:35px;
      border-top:1px dotted #d6d6d6;
      .option{
        font-size:12px;
        color:#aaaaaa;
      }
    }
    ul{
      position:relative;
      @include calc(width, '100% - 40px');
      padding:30px 0 0 40px;
      @extend .clearfix;
      li{
        @extend .clearfix;
        position:relative;
        margin-right:32px;
        height:40px;
        float:left;
        margin-bottom: 30px;
        input{
          margin-right: 12px;
          position:relative;
          margin-top:13px;
          float:left;
        }
        img{
          float:left;
        }
      }
      li:nth-child(5n+5){
        margin-right:0;
      }
    }
    .receivepay{
      position:relative;
      width:100%;
    }
    .platform{
      position:relative;
      width:100%;
      height:160px;
    }
    .bank{
      position:relative;
      width:100%;
    }
    .button_area{
      position:relative;
      height: 40px;
      border-top:1px dotted #d6d6d6;
      margin:0 40px 35px 40px;
      padding-top: 35px;
      font-size:15px;
      .title_pay{
        margin-top: 13px;
        float: right;
        margin-right:26px;
        color:#bfbfbf;
        .selected_way{
          color:#BB1E7B;
        }
      }
      .confirm_button{
        width:125px;
        height:40px;
        background:#BB1E7B;
        line-height: 40px;
        text-align: center;
        color: white;
        cursor: pointer;
        float: right;
        &:hover{
          background-color: #BB1E7B;
        }
      }
    }
  }
}

.ie{
  _position: absolute;
  _clear: both;
  _top:expression(eval(document.compatMode &&
               document.compatMode=='CSS1Compat') ?
               documentElement.scrollTop
               +(documentElement.clientHeight-this.clientHeight) - 1
               : document.body.scrollTop
               +(document.body.clientHeight-this.clientHeight) - 1);
}

.mask{
  position:fixed;
  left:0;
  top:0;
  width:100%;
  height:100%;
  background:rgba(119,119,119,0.5);
  z-index: 1;
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99777777,endColorstr=#99777777);
  .alert_tip{
    position:fixed;
    left:50%;
    top:50%;
    margin-left: -250px;
    margin-top: -110px;
    background:rgba(255,255,255,1);
    width:500px;
    height:240px;
    .title_pay{
      position:relative;
      font-size:24px;
      color:#111111;
      margin-left:100px;
      margin-top:45px;
      .tip_icon{
        position:relative;
        margin-left:-34px;
        margin-top: 6px;
        background-image: url('~@/assets/images/trades/tip_icon01.png');
        width:26px;
        height:26px;
        display:inline-block;
      }
      p{
        position:absolute;
        top: 7px;
      }
    }
    .subtitle{
      position:relative;
      font-size:15px;
      color:#999999;
      margin-left:100px;
      margin-top:28px;
    }
    .completed_button{
      position:relative;
      margin-top:30px;
      margin-right:28px;
      margin-left:100px;
      float:left;
      width:108px;
      height:38px;
      background:#BB1E7B;
      line-height: 38px;
      text-align: center;
      color: white;
      cursor:pointer;
    }
    .question_button{
      position:relative;
      margin-top:30px;
      float:left;
      width:197px;
      height:36px;
      background:#ffffff;
      line-height: 36px;
      text-align: center;
      color: #999999;
      border: 1px solid #999999;
      cursor:pointer;
    }
    .mask_load{
      text-align: center;
      margin-top: 50px;
      font-size: 16px;
      color: $font_color_1;
    }
  }
}

#mainfoot{
  position: relative;
  margin-top: 93px;
  background: #fff;
  width: 100%;
  height: 441px;
  .footBgWrap {
    width: 970px;
    height: 365px;
    background: #fff;
    .slogan {
      float: left;
      @extend .clearfix;
      li {
        float: left;
        height: 44px;
        .wrap {
          white-space: normal;
          word-wrap: break-word;
          float: left;
          margin-left: 8px;
          font-size: 14px;
          .name {
            position: absolute;
            white-space: nowrap;
            top: 8px;
            display: block;
            height: 20px;
          }
          .desc {
            position: absolute;
            top: 25px;
            font-family: Helvetica;
            font-size: 12px;
            color:#777777;
            display: block;
            white-space: nowrap;
          }
        }
        .normal_product {
          float: left;
          display: inline-block;
          @include u_img(42,42,-232,-1);
        }
        .clearance {
          float: left;
          display: inline-block;
          @include u_img(42,42,-276,-1);
        }
        .seven_return {
          float: left;
          display: inline-block;
          @include u_img(42,42,-319,-1);
        }
        .cheap_price {
          float: left;
          display: inline-block;
          @include u_img(42,42,-363,-1);
        }
        .buy_global {
          float: left;
          display: inline-block;
          @include u_img(42,42,-369,-46);
        }
      }
      .normal_product_item {
        width: 183px;
        position: relative;
      }
      .clearance_item {
        width: 168px;
        position: relative;
        .clearance {
          margin-left: 8px;
        }
      }
      .seven_return_item {
        width: 208px;
        position: relative;
        .seven_return {
          margin-left: 30px;
        }
      }
      .cheap_price_item {
        width: 168px;
        position: relative;
        .cheap_price {
          margin-left: 43px;
        }
      }
      .buy_global_item {
        width: 168px;
        position: relative;
        .buy_global {
          margin-left: 74px;
        }
      }
    }
    .profile {
      position: relative;
      top: 40px;
      width: 970px;
      padding: 30px 0px 0px 0px;
      border-top: 1px solid #dddddd;
      float: left;
      .logo{
        float: left;
        .platform_logo {
          display: inline-block;
          @include  u_img(227,107,-1,-1);
        }
      }
      .oversea_delivery {
        position: relative;
        float: left;
        left: 55px;
        width: 177px;
        height: 137px;
        padding-top: 10px;
        padding-left: 40px;
        border-left: 1px dotted #cccccc;
        border-right: 1px dotted #cccccc;
        .title_content {
          position: relative;
          .title_icon {
            display: inline-block;
            @include u_img(18,18,-240,-51);
          }
        ;
          a {
            position: absolute;
            top: 2px;
            left: 30px;
            width: 80px;
            font-size: 16px;
            color: #7a6c61;
          }
        }
        .item_list {
          position: relative;
          top: 30px;
          float: left;
          width: 177px;
          @extend .clearfix;
          li {
            position: relative;
            float: left;
            width: 53px;
            margin-right: 30px;
            margin-bottom: 15px;
            font-size: 13px;
            color: #333333;
            a{
              color: #333333;
            }
          }
        }
      }
      .domestic_delivery {
        position: relative;
        float: left;
        left: 55px;
        padding-top: 10px;
        padding-left: 40px;
        width: 177px;
        height: 137px;
        border-right: 1px dotted #cccccc;
        .title_content {
          position: relative;
          .title_icon {
            display: inline-block;
            @include u_img(18,18,-268,-51);
          }
          a {
            position: absolute;
            top: 2px;
            left: 30px;
            width: 80px;
            font-size: 16px;
            color: #7a6c61;
          }
        }
        .item_list {
          position: relative;
          top: 30px;
          float: left;
          width: 177px;
          @extend .clearfix;
          li {
            position: relative;
            float: left;
            width: 53px;
            margin-right: 30px;
            margin-bottom: 15px;
            font-size: 13px;
            color: #333333;
            a{
              color: #333333;
            }
          }
        }
      }
      .aboutus {
        position: relative;
        float: left;
        left: 55px;
        padding-top: 10px;
        padding-left: 40px;
        width: 177px;
        height: 200px;
        @extend .clearfix;
        .title_content {
          position: relative;
          .title_icon {
            display: inline-block;
            @include u_img(18,18,-297,-51)
          }
          a {
            position: absolute;
            top: 2px;
            left: 30px;
            width: 80px;
            font-size: 16px;
            color: #7a6c61;
          }
        }
        .item_list {
          position: relative;
          top: 30px;
          float: left;
          width: 177px;
          @extend .clearfix;
          li {
            position: relative;
            float: left;
            width: 53px;
            margin-right: 30px;
            margin-bottom: 15px;
            font-size: 13px;
            color: #333333;
            a{
              color: #333333;
            }
          }
        }
      }
      .qrcode_content {
        position: relative;
        float: left;
        left: 53px;
        width: 0px;
        height: 200px;
        @extend .clearfix;
        .wrap {
          width: 90px;
          height: 90px;
          background: white;
          border: 1px solid #cccccc;
          padding: 5px;
          img{
            width: 90px;
            height: 90px;
          }
        }
        .weixin_qrcode {
          display: none;
        }
        .touch_qrcode {
          display: none;
        }
      }
    }
  }
  .company_content {
    position: relative;
    background: #d9e5e7;
    width: 100%;
    height: 120px;
    .copyright {
      margin: 0 auto;
      position: relative;
      text-align: center;
      background: #d9e5e7;
      width: 970px;
      height: 120px;
      .companytitle {
        position: absolute;
        left: 319px;
        top: 25px;
        font-size: 12px;
        white-space: nowrap;
        color: #333333;
      }
      .ihaveu_logo {
        position: absolute;
        top: 52px;
        left: 441px;
        display: inline-block;
        text-align: center;
        @include  u_img(94,31,-238,-73);
      }
    }
  }
}
