<link rel="stylesheet" href="<%= sails.config.cdn_host %>/styles/send_reset/index.css?20151229154423">

<link rel="stylesheet" href="<%= sails.config.cdn_host %>/styles/forgot_password/index.css?20151229154423">
<style type="text/css">
.head_list ul {
  padding-top: 10px;
}
.head_list ul li{
  width: 140px;
  height: 54px;
  line-height: 54px;
  float: right;
  position: relative;
  margin-left: 100px;
}
.head_list ul li span{
  color: #333333;
  font-size: 16px;
}
.head_list ul li b{
  position: absolute;
  width: 54px;
  height: 54px;
  left: -60px;
  background-image: url('/images/new-img/new.png?20151229154423');
    background-size: 800px 353px;
}
.b_1{

  
    background-position: -124px -222px;
}
.b_2{
  
  
    background-position: -245px -222px;
}
.b_3{
  
  
    background-position: -184px -222px;
}
</style>
<div class="header">
<div class="login_head">
      <a href="/index">
        <span class="ico platform_logo" style="background-image: none;">
          <img src="/images/LOGO.png" alt="logo">
        </span>
      </a>
      <div class="head_list">
          <ul>
            <li>
              <b class="b_1"></b>
              <span>100%全球正品保障</span>
            </li>
            <li >
              <b class="b_2"></b>
              <span>全场满200包邮</span>
            </li>
            <li >
              <b class="b_3"></b>
              <span>七天无条件退换</span>
            </li> 
          </ul>
      </div>

    </div>

</div>
<div class="middle_content" style="background: none">
<div class="find_password_content">
  <div class="title">尊敬的用户：</div>
  <div class="content_email">密码重置邮件已经发送到邮箱：<a></a></div>
  <div class="content_bottom">请点击邮件中的密码重置链接即可进行密码重置。</div>
</div>
  <div class="bottom_bg"></div>
</div>
<div class="login_foot">
  <div class="copyright">
    <p class="hot_line">客服热线：010-84855232</p>

    <p class="title"><span class="copy_right_icon">©</span>&nbsp;&nbsp;2017 ihaveu.com 版权所有&nbsp;&nbsp;&nbsp;增值电信业务经营许可证&nbsp;&nbsp;&nbsp;津B2-20100085
    </p>
    <span class="foot_ico ihaveu_logo"></span>
  </div>
</div>

<script src="<%= sails.config.cdn_host %>/js/send_reset/index.js?20151229154423"></script>
