@import 'base';
#main{
  background:#3a383e;
  width:100%;
  margin:0 auto;
  behavior: url(../../images/csshover3.htc);
  .content{
    width:910px;
    height:1000px;
    margin:0 auto;
    @extend .clearfix;
    .title_area{
      position:relative;
      width:100%;
      .up_title{
        position:absolute;
        top:60px;
        width:100%;
        font-size:36px;
        text-align:center;
        color:#dddddd;
      }
      .down_title{
        position:absolute;
        top:113px;
        width:100%;
        line-height:30px;
        font-size:18px;
        text-align:center;
        color:#9b9a9c;
      }
    }
    .browser_area{
      position:relative;
      width:100%;
      margin-top:183px;
      @extend .clearfix;
      .item{
       @extend .clearfix;
        position:relative;
        float:left;
        width:290px;
        height:372px;
        margin-right:20px;
        margin-top:20px;
        a{
          cursor: pointer;
        }
        .up{
          width:290px;
          height:164px;
          background:#f4f2f7;
          .browser_ico{
            position:absolute;
            left:30px;
            top:28px;
            display: inline-block;
            @include u_image('@@_rel_start/images/upgrade/chrome.png',114,114);
            background-repeat: no-repeat;
          }
          .browser_name{
            font-size:24px;
            position:absolute;
            top:28px;
            left:165px;
          }
          .version{
            font-size:13px;
            position:absolute;
            top:58px;
            left:165px;
            color:#969697;
          }
          .download_btn{
            position:absolute;
            top:105px;
            left:170px;
            display: inline-block;
            @include u_image('@@_rel_start/images/upgrade/down_btn_normal.png',92,37);
            background-repeat: no-repeat;
            &:hover{
             @include u_image('@@_rel_start/images/upgrade/down_btn_hover.png',92,37);
            }
          }
        }
        .down{
          position:relative;
          width:290px;
          height:208px;
          background:#ffffff;
          .instru{
            font-size:13px;
            line-height:30px;
            position:absolute;
            left:30px;
            top:7px;
          }
          .windows{
            position:absolute;
            left:30px;
            top:46px;
            display: inline-block;
            @include u_image('@@_rel_start/images/upgrade/windows.png',55,43);
          }
          .mac{
            position:absolute;
            left:137px;
            top:46px;
            display: inline-block;
            @include u_image('@@_rel_start/images/upgrade/apple.png',34,42);
          }
          .linux{
            position:absolute;
            left:230px;
            top:46px;
            display: inline-block;
            @include u_image('@@_rel_start/images/upgrade/linux.png',34,42);
          }
          .separator{
            position:absolute;
            left:30px;
            top:105px;
            width: 230px;
            height: 1px;
            border-top: 1px solid #ddd;
          }
          .tip{
            font-size:13px;
            line-height:30px;
            position:absolute;
            left:30px;
            top:125px;
          }
          .percent{
            font-size:40px;
            position:absolute;
            left:30px;
            top:154px;
            color:#aaaaaa;
          }
        }
      }
      .firefox{
        .up{
          .browser_ico{
            @include u_image('@@_rel_start/images/upgrade/firefox.png',114,114);
            background-repeat: no-repeat;
          }
          .browser_name{
            font-size:24px;
            position:absolute;
            top:28px;
            left:165px;
          }
          .version{
            font-size:13px;
            position:absolute;
            top:58px;
            left:165px;
            color:#969697;
          }
          .download_btn{
          }
        }
      }
      .ie{
      .up{
          .browser_ico{
            @include u_image('@@_rel_start/images/upgrade/ie.png',117,114);
            background-repeat: no-repeat;
          }
          .browser_name{
            width:90px;
          }
          .version{
            font-size:13px;
            position:absolute;
            top:82px;
            left:165px;
            color:#969697;
          }
          .download_btn{
          }
        }
        .down{
          .mac{
            position:absolute;
            left:30px;
            top:46px;
            display: inline-block;
            @include u_image('@@_rel_start/images/upgrade/apple.png',34,42);
          }
        }
        margin-right:0px;
      }
      .safari{
      .up{
          .browser_ico{
            @include u_image('@@_rel_start/images/upgrade/safari.png',114,114);
            background-repeat: no-repeat;
          }
          .browser_name{
            font-size:24px;
            position:absolute;
            top:28px;
            left:165px;
          }
          .version{
            font-size:13px;
            position:absolute;
            top:58px;
            left:165px;
            color:#969697;
          }
          .download_btn{
          }
        }
        .down{
        }
      }
      .opera{
        .up{
          .browser_ico{
            @include u_image('@@_rel_start/images/upgrade/opera.png',114,114);
            background-repeat: no-repeat;
          }
          .browser_name{
            font-size:24px;
            position:absolute;
            top:28px;
            left:165px;
          }
          .version{
            font-size:13px;
            position:absolute;
            top:58px;
            left:165px;
            color:#969697;
          }
          .download_btn{
          }
        }
      }
    }
  }
}