 .pro-size{
    width: 230px;
    max-width: 230px;
    background: pink;
    clear: both;
    margin:  0 auto;
    margin-top: 35px;
    display: block;
  }
  .pro-size ul span{
    float: left;
    margin-top: 7px;
    font-size: 12px;
  }
   .pro-size ul li{
    display: inline-block;
    float: left;
    border-left:   solid 1px #E5E5E5;
    padding: 0 6px 0 6px;
    line-height: 12px;
    color: #222222;
    margin-top: 7px;
    font-size: 12px;
   }
   .pro-size ul li:nth-child(2){
    border-left:  none;
    
   }
   .border{
    width: 1200px;
    margin: 0 auto;
    position: absolute;
  	top:-20px;
    height: 2px;
    border-bottom: solid 1px #E5E5E5;
   }
  .pagination .backtop{
    font-size: 13px;
    text-decoration:underline;
    margin-left:20px;
    color: #222222;
    width: 67px;
    display: inline-block;
    background: url(~@/assets/images/new-img/goback.png) 72px 10px no-repeat;
    margin-top: 5px;
   }
    
   #filter{
      border-top: solid 1px #e5e5e5;
    }
   .container{
    position: relative;

  }