body, div, span, header, footer, nav, section, aside, article, ul, dl, dt, dd, li, a, p, h1, h2, h3, h4, h5, h6, i, b, textarea, button, input, select, figure, figcaption, img {
  padding: 0;
  margin: 0;
  list-style: none;
  font-style: normal;
  text-decoration: none;
  border: none;
  /*box-sizing: border-box;*/
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  line-height: 1;
}

button, input, textarea, select {
  -webkit-appearance: none;
  outline: none;
}

.clearfix:before, .clearfix:after {
  content: '';
  display: block;
  clear: both;
}


.text-overflow {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis
}

.text-overflow-multi {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical
}
